{% load static %}

<script src={% static "assets/js/jquery.min.js" %}></script>
<script src={% static "assets/bootstrap/js/bootstrap.min.js" %}></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src={% static "assets/js/Bootstrap-DataTables.js" %}></script>
<script src={% static "assets/js/Animated-Type-Heading.js" %}></script>
<script src={% static "assets/js/Bold-BS4-Jumbotron-with-Particles-js.js" %}></script>
<script src={% static "assets/js/map_interactive.js" %}></script>
<script src={% static "assets/js/popper.js" %}></script>
<script src={% static "assets/js/owl.carousel.min.js" %}></script>
<script src={% static "assets/js/main.js" %}></script>
<script src={% static "assets/js/bs-init.js" %}></script>
<script src={% static "assets/aos/aos.js" %}></script>

<script>
    $(function() {
        AOS.init();
    });
</script>
