{% load static %}
<link rel="stylesheet" href={% static "assets/bootstrap/css/bootstrap.min.css" %}>
<link rel="stylesheet" href={% static "assets/css/Animated-Type-Heading.css" %}>
<link rel="stylesheet" href={% static "assets/css/Bootstrap-DataTables.css" %}>
<link rel="stylesheet" href={% static "assets/css/Contact-Form-Clean.css" %}>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href={% static "assets/fonts/fontawesome-all.min.css"%}>
<link rel="stylesheet" href={% static "assets/fonts/font-awesome.min.css"%}>
<link rel="stylesheet" href={% static "assets/fonts/ionicons.min.css"%}>
<link rel="stylesheet" href={% static "assets/fonts/fontawesome5-overrides.min.css"%}>
<link rel="stylesheet" href={% static "assets/css/Animated-Type-Heading.css"%}>
<link rel="stylesheet" href={% static "assets/css/Bootstrap-DataTables.css"%}>
<link rel="stylesheet" href={% static "assets/css/Contact-Form-Clean.css"%}>
<link rel="stylesheet" href={% static "assets/css/dh-navbar-inverse.css" %}>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href={% static "assets/css/List-Item.css" %}>
<link rel="stylesheet" href={% static "assets/css/MUSA_timeline-1.css" %}>
<link rel="stylesheet" href={% static "assets/css/MUSA_timeline.css" %}>
<link rel="stylesheet" href={% static "assets/css/NavBar-Notifications-Panel-1.css" %}>
<link rel="stylesheet" href={% static "assets/css/NavBar-Notifications-Panel.css" %}>
<link rel="stylesheet" href={% static "assets/css/Navigation-Menu.css" %}>
<link rel="stylesheet" href={% static "assets/css/Pretty-Search-Form.css" %}>
<link rel="stylesheet" href={% static "assets/css/Profile-Card.css" %}>
<link rel="stylesheet" href={% static "assets/css/styles.css" %}>
<link rel="stylesheet" href={% static "assets/css/Footer-Basic.css" %} *>
<link rel="stylesheet" href={% static "assets/css/owl.carousel.min.css" %}>
<link rel="stylesheet" href={% static "assets/css/owl.theme.default.min.css" %}>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href={% static "assets/icofont/icofont.min.css" rel="stylesheet" %}>
<link rel="stylesheet" href={% static "assets/boxicons/css/boxicons.min.css" rel="stylesheet" %}>
<link rel="stylesheet" href="../../static/assets/aos/aos.css">
